<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>PdfPoc</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

	<servlet>
		<servlet-name>ShowPdf</servlet-name>
		<servlet-class>com.practice.pdfgenerator.ShowPdf</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ShowPdf</servlet-name>
		<url-pattern>/ShowPdf</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>pdfPrint</servlet-name>
		<jsp-file>/WEB-INF/jsp/pdfPrintPreview.jsp</jsp-file>		
	</servlet>

	<servlet-mapping>
		<servlet-name>pdfPrint</servlet-name>
		<url-pattern>/pdfPrint</url-pattern>
	</servlet-mapping>
	
	
  
</web-app>